[submodule "vendor/github.com/cubanmakers/Haeckel"]
	path = vendor/github.com/cubanmakers/Haeckel
	url = https://github.com/cubanmakers/Haeckel
[submodule "docs"]
	path = docs
	url = https://github.com/cubanmakers/3DPrintModels.wiki
[submodule "vendor/github.com/cubanmakers/TronxyX1"]
	path = vendor/github.com/cubanmakers/TronxyX1
	url = https://github.com/cubanmakers/TronxyX1
